# VCS
.git
.gitignore

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtualenv
.venv
env/
venv/

# OS/IDE
.DS_Store
.idea/
.vscode/

# Tests и локальные данные
tests/
__tests__/
*.pytest_cache
.coverage

# Docker мусор
docker-compose.override.yml

# Build artifacts
dist/
build/
*.egg-info

# Медиа/кэш
videos/
.cache/
