name: Deploy to Hetzner on push to main

on:
  push:
    branches:
      - main

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        uv pip install -r backend/requirements.txt
        uv pip install pytest==8.3.5 pytest-asyncio==0.26.0


    - name: Run tests
      run: |
        pytest

  deploy:
    needs: tests
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Add SSH key
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
        chmod 600 ~/.ssh/id_ed25519
        ssh-keyscan -H 91.99.6.156 >> ~/.ssh/known_hosts
    
    - name: Sync files to server
      run: |
        rsync -az --delete \
          --exclude '.git' \
          --exclude '.github' \
          --exclude '.env' \
          ./ root@91.99.6.156:/root/smart_menu_bot_prod/

    - name: Deploy to server
      run: |
        ssh -o StrictHostKeyChecking=yes -T root@91.99.6.156 <<'EOF'
          set -e
          cd /root/smart_menu_bot_prod
          ./refresh.sh
        EOF
